.hero {
    background-image: url(../img/twice-breakthrough-members-uhdpaper.com-4K-75.jpg);
    background-size: auto;
    background-repeat: no-repeat;
}

.opacity {
    background-color: rgba(0, 0, 0, 0.6);
    
}
